.emailInput,
.wEFrame {
  position: absolute;
  margin: 0 !important;
}
.emailInput {
  width: 284.4px;
  height: 410.5px;
  bottom: -95.1px;
  left: 9.2px;
  border-radius: var(--br-xl);
  background-color: var(--color-yellow);
  box-shadow: 0 0 20px #fff759;
}
.wEFrame {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background: linear-gradient(
    111.56deg,
    rgba(144, 141, 147, 0.95),
    rgba(53, 83, 100, 0.71) 84.24%,
    rgba(53, 83, 100, 0.95) 90.76%
  );
  box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(100px);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  z-index: 1;
}

.buildRwaBased,
.we {
  position: relative;
  line-height: 89.9%;
  display: flex;
  align-items: center;
  z-index: 2;
}
.we {
  margin: 0;
  width: 97.4px;
  height: 49.7px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
}
.buildRwaBased {
  height: 127.6px;
  flex: 1;
  max-width: 100%;
}
.buildSystematizeRectangles,
.recurringIncomeRectangle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.recurringIncomeRectangle {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-lg) 0 37.19999999999982px;
  flex-shrink: 0;
  font-size: var(--font-size-lg);
}
.buildSystematizeRectangles {
  width: 500px;
  flex-direction: column;
  padding: 36.09999999999991px var(--padding-26xl-5) 73.80000000000018px;
  position: relative;
  gap: 5.7px 0;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 825px) {
  .buildSystematizeRectangles {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .we {
    font-size: var(--font-size-lgi);
    line-height: 17px;
  }
}
