.container{
  margin-top: 50px;
}

.customWidth85 {
  width: 95%;
}

.rwas {
  color: var(--color-tomato-200);
}
.whatAreRealWorldContainer {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-10xl);
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
  font-family: inherit;
}

.subtractIcon {
  position: absolute;
  top: 89px;
  left: 0;
  width: 300px;
  height: 42.8px;
}
.ai4Icon {
  position: absolute;
  height: calc(100% - 0.1px);
  top: 0;
  bottom: 0.1px;
  left: 78px;
  max-height: 100%;
  width: 131.7px;
  object-fit: contain;
  z-index: 1;
}
.subtractParent {
  height: 131.8px;
  width: 300px;
  position: relative;
}
.frameWrapper {
  width: 776px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.whatAreRealWorldAssetsRwParent {
  width: 787px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 5px 0;
  max-width: 100%;
}
.assetsFrameInner {
  width: 1545px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.p,
.p1,
.realWorldAssetTokenization,
.realWorldAssetsRwas,
.securityTokensCan {
  margin: 0;
}
.realWorldAssetsRwasContainer {
  align-self: stretch;
  height: 424px;
  position: relative;
  line-height: 130.9%;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.forExampleA {
  margin: 0;
}
.forExampleAContainer {
  align-self: stretch;
  height: 148px;
  position: relative;
  line-height: 130.9%;
  font-weight: 300;
  background: linear-gradient(
    174.41deg,
    #000 17.15%,
    rgba(102, 102, 102, 0.1) 89%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frameChild {
  height: 45px;
  width: 367px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.readMore {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  flex-shrink: 0;
  z-index: 1;
}
.readMoreGroup,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent {
  width: 367px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  justify-content: flex-start;
  padding: var(--padding-smi) 73.40000000000009px;
  white-space: nowrap;
  z-index: 2;
}
.readMoreGroup {
  width: 819px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  margin-top: -74px;
  text-align: center;
  font-size: var(--font-size-sm);
  font-family: var(--font-open-sans);
}
.exampleAssetFrame,
.realWorldAssetsRwasAreFParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.exampleAssetFrame {
  align-self: stretch;
  min-height: 148px;
  margin-top: -67px;
  color: var(--color-white);
}
.realWorldAssetsRwasAreFParent {
  flex: 1;
  min-width: 587px;
}
.undrawCityGirlCcpd1Icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.contactUsGroup {
  height: 372.3px;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-24xl) 0 0;
  box-sizing: border-box;
  min-width: 550px;
  max-width: 100%;
}
.rWAAwarenessFrame {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 0 105px;
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--color-black);
}
.assetsFrame,
.footerFrame,
.rWAAwarenessFrame {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.assetsFrame {
  width: 1558px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 19.2px 0;
}
.footerFrame {
  width: 1876px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;

  /* font-size: var(--font-size-17xl); */
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1575px) {
  .undrawCityGirlCcpd1Icon {
    align-self: stretch;
    width: auto;
  }
  .contactUsGroup {
    flex: 1;
  }
  .rWAAwarenessFrame {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .whatAreRealWorldContainer {
    font-size: var(--font-size-10xl);
    line-height: 32px;
  }
  .contactUsGroup,
  .realWorldAssetsRwasAreFParent {
    min-width: 100%;
  }
  .rWAAwarenessFrame {
    gap: 0 52px;
  }
}
@media screen and (max-width: 450px) {
  .whatAreRealWorldContainer {
    font-size: var(--font-size-3xl);
    line-height: 24px;
  }
  .rectangleParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .contactUsGroup {
    padding-top: var(--padding-9xl);
    box-sizing: border-box;
  }
  .rWAAwarenessFrame {
    gap: 0 26px;
  }
}
