@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
  font-family: var(--font-poppins);
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;
  --font-open-sans: "Open Sans";

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-base: 16px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-11xl: 30px;
  --font-size-sm: 14px;
  --font-size-2xl: 21px;

  /* Colors */
  --color-white: #fff;
  --color-lavender-100: #ebf0ff;
  --color-lavender-200: #eaefff;
  --color-lavender-300: #dee6ff;
  --color-gray-100: #0f172a;
  --color-gray-200: #111010;
  --color-gray-300: rgba(255, 255, 255, 0.1);
  --color-gray-400: rgba(255, 255, 255, 0.4);
  --color-black: #000;
  --color-dodgerblue: #5380ea;
  --color-ghostwhite: #f9faff;
  --color-darkgray: #aaa;
  --color-tomato-100: #eb5939;
  --color-tomato-200: #e54a2a;
  --color-darkslategray: #475569;
  --color-yellow: #f0ea24;
  --color-gold: #FFBE1D;
  --color-blue: #05103F;
  --color-green: #00874F;

  /* Gaps */
  --gap-62xl: 81px;
  --gap-303xl-8: 322.8px;
  --gap-21xl: 40px;
  --gap-142xl: 161px;
  --gap-475xl: 494px;
  --gap-104xl: 123px;
  --gap-43xl: 62px;
  --gap-228xl: 247px;
  --gap-mini: 15px;
  --gap-xl-5: 20.5px;
  --gap-smi: 13px;
  --gap-lg: 18px;
  --gap-0: 0px;
  --gap-xl: 20px;
  --gap-30xl: 49px;
  --gap-5xl: 24px;
  --gap-10xl: 29px;
  --gap-5xs: 8px;
  --gap-sm: 14px;
  --gap-7xs-7: 5.7px;
  --gap-lgi-2: 19.2px;
  --gap-8xs: 5px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-36xl: 55px;
  --gap-8xl: 27px;

  /* Paddings */
  --padding-175xl: 194px;
  --padding-228xl: 247px;
  --padding-42xl: 61px;
  --padding-63xl: 82px;
  --padding-xl: 20px;
  --padding-104xl: 123px;
  --padding-107xl: 126px;
  --padding-9xl: 28px;
  --padding-302xl: 321px;
  --padding-13xl: 32px;
  --padding-61xl: 80px;
  --padding-141xl: 160px;
  --padding-11xs: 2px;
  --padding-12xs: 1px;
  --padding-xl-2: 20.2px;
  --padding-21xl: 40px;
  --padding-16xl: 35px;
  --padding-7xl: 26px;
  --padding-base: 16px;
  --padding-52xl: 71px;
  --padding-17xl-1: 36.1px;
  --padding-26xl-5: 45.5px;
  --padding-54xl-8: 73.8px;
  --padding-3xl: 22px;
  --padding-lg: 18px;
  --padding-18xl-2: 37.2px;
  --padding-12xs-5: 0.5px;
  --padding-24xl: 43px;
  --padding-smi: 13px;
  --padding-54xl-4: 73.4px;
  --padding-72xl: 91px;
  --padding-6xl-6: 25.6px;
  --padding-41xl: 60px;
  --padding-mid-2: 17.2px;
  --padding-110xl-8: 129.8px;
  --padding-46xl: 65px;
  --padding-11xl: 30px;
  --padding-4xl-8: 23.8px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-21xl: 40px;
  --br-8xs: 5px;
  --br-11xl: 30px;
  --br-xl: 20px;
  --br-5xs: 8px;

  /* Effects */
  --s2: 0px 34px 44px -20px rgba(185, 206, 234, 0.25);
}



footer{
  color:black;
  background-color: white;
}

.copyright{
  background-color: white;
}

footer a{
  text-decoration: none;
  color: black !important;
}

.footer-section {
  position: relative;
  padding: 50px 0;
}

.footer-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, transparent, #fff, transparent);
}

.footer-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, transparent, #fff, transparent);
}

.footer-section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1166px;
}

.footer-section-content .col {
  padding-right: 50px;
}

.footer-section-content .col .footer-logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 36px;
  /* background: linear-gradient(to right, #FFD700, #FFA500) !important;
  -webkit-background-clip: text !important;
  color: transparent !important; */
}

.footer-logo{
  text-align: center;
  margin-left: 30px;
}

.footer-section-content ul {
  margin-left: 0;
}

.footer-section-content ul li {
  list-style: none;
  margin-bottom: 15px;
}

.footer-section-content ul li a {
  text-decoration: none;
  font-size: 16px;
}

.footer-section-content .col #sn-icon {
  vertical-align: middle;
  margin-right: 5px;
}

.copyright {
  text-align: center;
  position: relative;
  padding: 25px 0;
}

.copyright::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, transparent, #fff, transparent);
}

.copyright p {
  font-size: 14px;
}


.top {
  position: fixed;
  z-index: 9999999;
  bottom: 2.1rem;
  right: 2.1rem;
}

.top:nth-child(2) {
  bottom: 5.1rem;
}

.top:nth-child(3) {
  bottom: 8.1rem;
}

.top:nth-child(4) {
  bottom: 11.1rem;
}

.top:nth-child(5) {
  bottom: 14.1rem;
}



.top i {
  color: var(--text-color);
  background: linear-gradient(315deg, rgba(49, 171, 187, 0.4) 0%, rgba(77, 180, 159, 0.9) 100%);
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}

.top i:hover {
  box-shadow: 0 0 10px rgba(77, 180, 159, 0.9);
}

